# Created by .ignore support plugin (hsz.mobi)
.idea/
CountryPicker.xcodeproj/project.xcworkspace/xcuserdata/lvqingyang.xcuserdatad/xcschemes/
CountryPicker.xcodeproj/xcuserdata/lvqingyang.xcuserdatad/xcschemes/CountryPicker.xcscheme
